* {
  font-family: $default-font;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 $padding-wrapper;
  @include tablet() {
    padding: 0 $tablet-padding-wrapper;
  }
  @include pc() {
    padding: 0 $pc-padding-wrapper;
  }
}
