$color-body: #333333;
$color-gray: #bbbbbb;
$color-white: #F8F8F8;
$color-shadow: rgba(143, 143, 143, 0.25);
$color-gradient-orange: linear-gradient(
  277deg,
  rgba(255, 103, 103, 0.9) -24%,
  rgba(255, 184, 72, 0.9) 105.47%
);

$background-color: #ffffff;
$background-color-gray: #eeeeee;

$font-default: 'Noto Sans', sans-serif;
$font-english: 'Mukta';

$breakpoint-pc: 1025px;
$breakpoint-tablet: 767px;

$app-bar-height: 90px;
$padding-wrapper: 16px;
$tablet-padding-wrapper: 32px;
$pc-padding-wrapper: 100px;
$footer-height: 70px;
$tablet-footer-height: 100px;

@mixin tablet() {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin pc() {
  @media screen and (min-width: $breakpoint-pc) {
    @content;
  }
}
