$text-color-black: #333333;
$text-color-white: #F8F8F8;
$text-color-gray: #bbbbbb;
$text-color-placeholder: #bbbbbb;
$background-color-textfield: #eeeeee;
$background-color: #FFFFFF;
$shadow-color: rgba(143, 143, 143, 0.25);
$gradient-orange: linear-gradient(
  277deg, 
  rgba(255, 103, 103, 0.9) -24%, 
  rgba(255, 184, 72, 0.9) 105.47%
);
$default-font: 'Noto Sans', sans-serif;
$music-card-shadow: rgba(143, 143, 143, 0.25);
$app-bar-height: 90px;
